<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>

    @Html.Action("nav_baitest", "bai_test")
    <div style="text-align:center;margin-top:50px">
        @RenderBody()

        </div>
</body>
</html>
