
@{
    Layout = null;
}

<style>
    nav {
        background: #4786e3;
 
    }
</style>
<nav>
    <div>
        <div>
            Trang chủ
        </div>
        <div>
            lien hệ
            xin chào
            dang xuất
        </div>
    </div>

</nav>
