
@{
    ViewBag.Title = "dangnhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="title">
    <a href="@Url.Action("Index","Trang_chu")"><button class="close-btn"> <span style="">×</span> </button></a>
        
        <h2>Đăng nhập</h2>

</div>

<div class="content">
<h2>Đăng ký tài khoản</h2>
<table>


    <tr>
        <td class="canle_dk_noidung">Tên đăng nhập:</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td class="canle_dk_noidung">Mật khẩu:</td>
        <td><input type="password"></td>
    </tr>
    <tr>
</table>
<p>
    Bạn đã có tài khoản?
    <a href="/User/dangnhap">Đăng nhập ngay</a>
</p>
<button>Đăng nhập</button>
<div style="display:flex; gap:10px;">

    <button class="email">
        Đăng nhập bằng email
    </button>

    <button class="email">
        Đăng nhập bằng gg
    </button>

</div>

</div>





