
@{
    ViewBag.Title = "dangky";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="title">
    <a href="/User/Index"> <button class="close-btn"> <span style="">></span> </button> </a>
     
    
    <h2>Đăng ký</h2>

</div>

<div class="content">
<h2>Đăng ký tài khoản</h2>
<table>
    <tr>
        <td class="canle_dk_noidung">Họ tên:</td>
        <td><input type="text"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Tên đăng nhập:</td>
        <td><input type="text"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Mật khẩu:</td>
        <td><input type="password"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Mật khẩu nhập lại:</td>
        <td><input type="password"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Email:</td>
        <td><input type="email"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Điện thoại:</td>
        <td><input type="text"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Ngày sinh:</td>
        <td><input type="date"></td>
    </tr>

    <tr>
        <td class="canle_dk_noidung">Địa chỉ:</td>
        <td><input type="text"></td>
    </tr>
</table>
    <button>Đăng ký</button>


</div>


