
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="title">
    <a href="@Url.Action("Index","Trang_chu")"><button class="close-btn"> <span style="">×</span> </button></a>

    <h2>Đăng ký</h2>

</div>

<div class="content">
<h3>Bạn muốn tạo tài khoản<br> bằng cách nào nhỉ?</h3>

<img src="mochi.png" class="mochi">

<button class="google">
    G+  Tạo tài khoản với G+
</button>
    <a href="@Url.Action("dangky","User")">
<button class="trangchu">
    Tạo tài khoản của trang chủ
</button>
        </a>

<p class="or">HOẶC</p>

<button class="email">
    Tự tạo tài khoản với email
</button>

<p class="login">
    Bạn đã có tài khoản?
    <a href="#">Đăng nhập ngay</a>
</p>

