
@{
    ViewBag.Title = "Trang chủ";
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/baitest.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            trang chủ
        </div>

        <div class="login">
            <a href="@Url.Action("Index","User")"><span> <b>Bạn đã có tài khoản? </b></span></a>
            <a href="@Url.Action("dangnhap","User")"><button>Đăng nhập</button></a>
        </div>
    </header>


    <!-- HERO / BANNER -->
    <section class="hero">

        <div class="hero-left">
            <img src="" alt="logo">
        </div>

        <div class="hero-right">

            <h2 class="title">trang chủ</h2>

            <h1>
            </h1>

            <button class="start-btn">
                Chọn khóa đào tạo
            </button>
            <button class="start-btn" onclick="location.href='@Url.Action("thong_tin_bai_test","bai_test")'">
                Bắt đầu làm bài test
            </button>
        </div>

    </section>
    <div class="gioi_thieu_khoa_hoc">
        giới thiệu
    </div>
    <div class="gioi_thieu_cac_uu_dai">
        uu đãi
    </div>

    <footer class="footer">

        <div class="footer-container">

            <div class="footer-col">
                <a href="#"><h2>TRANG CHỦ</h2></a>

                <p><b>Liên hệ</b></p>
                <p>0123456789</p>
                <p>123@gmail.com</p>

                <a href="#">Tư vấn về học tập</a>
            </div>


            <div class="footer-col">
                <h3>Câu hỏi thường gặp</h3>

                <p>Mochi IELTS hoạt động như thế nào?</p>
                <p>Mochi IELTS có miễn phí không?</p>
                <p>Hướng dẫn thanh toán Mochi IELTS</p>
                <p>Đăng ký mua Mochi IELTS</p>
                <p>Adaptive Learning là gì?</p>
            </div>


            <div class="footer-col">
                <h3>Cộng đồng</h3>

                <a href="#">fb</a><br>
                <a href="#">yt</a>
            </div>

        </div>

    </footer>
</body>
</html>

